<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182059532455-h9e3lcfbeoehb40k85ru2id1hv03tqec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182059532455-h9e3lcfbeoehb40k85ru2id1hv03tqec</string>
	<key>API_KEY</key>
	<string>AIzaSyAzdfM3qhlN17lkJP2dsOmzYhOpsS3Blb0</string>
	<key>GCM_SENDER_ID</key>
	<string>182059532455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enmobi.facedriver</string>
	<key>PROJECT_ID</key>
	<string>facedrive-1af98</string>
	<key>STORAGE_BUCKET</key>
	<string>facedrive-1af98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182059532455:ios:b3379cce6f4dc0d9</string>
	<key>DATABASE_URL</key>
	<string>https://facedrive-1af98.firebaseio.com</string>
</dict>
</plist>